/*UConn Brand Guidelines 
https://brand.uconn.edu/content/uploads/sites/14/2019/11/UCONN-Color-Guidelines.pdf
*/

.dark {
    background-color: #000E2f;
    color: #ffffff
}

.light{
    background-color: #ffffff;
    color: #000E2f
}

button{
    margin: 0;
    position: relative;
}

h1{
    font-size: 8vw;
    text-align: center;
}

h2{
    font-size: 5vw;
    text-align: center;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-height: 2%;
}

.audioButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
}

button{
    width: 15vw;
    height: 3vw;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    align-items: center;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000E2f;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000E2f;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
